<div>
  <div class=" header bg-danger pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0">Klap Insertion Audit</h6>
            <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                <!-- <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> <i class=" fas fa-home" routerLink="/search/quick-search"> </i> </a>
                </li> -->

                <!-- <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> Process </a>
                </li>

                <li aria-current="page" class=" breadcrumb-item active">
                  Klap Insertion Audit
                </li> -->
              </ol>
            </nav>
          </div>

          <!-- <div class=" col-lg-6 col-5 text-right">
            <a class=" btn btn-sm btn-neutral" (click)="addUser(userFormPopup)"> Create New User</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class=" container-fluid mt--6">
    <div class=" row">
      <div class=" col">
        <div class=" card">
          <div class="retrieval_add_form">

            <form class="needs-validation p-4" [formGroup]="AddKlapAuditForm">
              <div class="form-row">

                <div class=" col-md-3 mb-3">
                  <label class=" form-control-label" for="File_No">File No</label>
                  <input readonly name="File_No"  style="border-color: green;" type="text" 
                    formControlName="File_No" type="text" class="form-control form-control-sm" />
                </div>

                <div class=" col-md-3 mb-3">
                  <label class=" form-control-label" for="appl">Apac</label>
                  <input readonly name="appl" type="text" formControlName="apac" type="text"
                  class="form-control form-control-sm"/>

                </div>

                <div class=" col-md-3 mb-3">
                  <label class=" form-control-label" for="appl">Appl</label>
                  <input readonly name="appl" type="text" formControlName="appl" type="text"
                  class="form-control form-control-sm"/>
                </div>

                <div class=" col-md-3 mb-3">
                  <label class=" form-control-label" for="appl">Document Type</label>
                  <input readonly name="document_type" type="text" formControlName="document_type" type="text"
                  class="form-control form-control-sm" />
                </div>

                <div class=" col-md-3 mb-3">
                  <label class=" form-control-label" for="product">Product</label>
                  <input readonly name="product" formControlName="product" type="text"
                  class="form-control form-control-sm"/>

                </div>
                <div class=" col-md-3 mb-3">
                  <label class=" form-control-label" for="location">Location</label>
                  <input readonly name="location" formControlName="location" type="text"
                  class="form-control form-control-sm" />

                </div>
                <div class=" col-md-3 mb-3">
                  <label class=" form-control-label" for="sub_lcoation">Sub Location</label>
                  <input readonly name="sub_lcoation" formControlName="sub_lcoation" type="text"
                  class="form-control form-control-sm" />

                </div>
                <div class=" col-md-3 mb-3">
                  <label class=" form-control-label" for="maln_party_id">Main Party Id</label>
                  <input readonly name="maln_party_id" formControlName="maln_party_id" type="text"
                  class="form-control form-control-sm"/>

                </div>
                <div class=" col-md-3 mb-3">
                  <label class=" form-control-label" for="party_name">Party Name</label>
                  <input readonly name="party_name" formControlName="party_name" type="text"
                  class="form-control form-control-sm"/>

                </div>
                <div class=" col-md-3 mb-3">
                  <label class=" form-control-label" for="agr_value">Agr Value</label>
                  <input readonly name="agr_value" id="agr_value" formControlName="agr_value" type="text"
                  class="form-control form-control-sm" />

                </div>
                <div class=" col-md-3 mb-3">
                  <label class=" form-control-label" for="pdc_type">Pdc Type</label>
                  <input readonly name="pdc_type" formControlName="pdc_type" type="text"
                  class="form-control form-control-sm" />
                </div>
                <div class=" col-md-3 mb-3">
                  <label class=" form-control-label" for="apac_effective_date">Appl Effective Date</label>
                  <input readonly name="apac_effective_date" formControlName="apac_effective_date" type="text"
                  class="form-control form-control-sm" />
                </div>

              
              
              </div>
<!--   
              <div class="float-right pb-3">

                <button class="btn btn-primary" type="submit" (click)="onAdd()">Add</button>
                <button class="btn btn-primary" style="background-color: #f3c110;border-color: #f3c110;"
                  (click)="OnReset()">Reset</button>
                <button class="btn btn-primary" type="submit" (click)="OnSave('Complete')">Save</button>
                <button class="btn btn-warning" type="submit" (click)="OnSave('Hold')">Hold</button> -->
                <!-- <button type="button" class="btn btn-warning" (click)="closeBatch(BatchCloseFormPopup)">Close Batch</button>
                   -->
              <!-- </div> -->

            </form>
          </div>

          <div class="dataTables_wrapper checklist-table w-100">


            <p-table [paginator]="true" [rows]="10" [value]="formattedData" [autoLayout]="true"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [(first)]="first"
              (onPage)="paginate($event)" [loading]="loading"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

              <ng-template pTemplate="caption">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Search records" (input)="searchTable($event)"
                  class="global-search">

              </ng-template>
              <ng-template pTemplate="header">
                <tr>

                  <th *ngFor="let col of headerList; let i = index;" [ngStyle]="i==0 && {'width': '5%'}">
                    {{col.header}}
                    <!-- <p-sortIcon *ngIf="i==10" [field]="col.field"></p-sortIcon> -->
                  </th>
                  <!-- <th style="width: 10%;">
                      Select Query Status
                  </th>
                  <th style="width: 10%;">
                      Select Highlight To Branch
                  </th>
                  <th style="width: 10%;">
                      CPU Query Remark
                  </th> -->
                  <th style="width: 10%;">
                      ACTION
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                <tr>

                  <td *ngFor="let col of headerList">
                    {{car[col.field]}}
                  </td>
                 
              
                  <td>

                    <button type="button" style="padding:0 0 5px 1px" class="btn btn-icon btn-success btn-icon-only rounded-circle"
                    (click)="ViewBranchRemark(ViewBranchRemarkFormPopup,car)">
                      <span class="btn-inner--icon"><i class="fa fa-plus"></i></span>
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div>
             
            <button class="btn btn-primary float-right mt-3 mr-4" [disabled]="!buttonDisabled" (click)="SentToBranch('Complete - Audit Insertion')" >
              Complete Audit Insertion 
            </button>
     
            <button class="btn btn-primary float-right mt-3 mr-4" [disabled]="!buttonDisabled" (click)="SentToBranch('Sent To Branch')"  >
              Sent To Branch
            </button>
            <button class="btn btn-danger float-right mt-3 mr-4" (click)="onBack()" >
              Back
            </button>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ViewBranchRemarkFormPopup let-c="close" let-d="dismiss" let-modal>

  <div class="modal-content">
    <div class="modal-body p-0">

      <div>
        <form [formGroup]="PODEntryForm">
          <div class="row">
            <div class=" w-100">

              <div>
                <div class="position-relative row form-group">

                  <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                    <div class="card-header">
                      <h3 class="mb-0">Document Review</h3>
                      <p class="text-sm mb-0"></p>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->

                      

                            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">

                              <div class="row">

                                
                                <div class=" col-6 mb-3">
                                    <label class=" form-control-label" for="documents">Document</label>
                                    <input readonly name="documents" formControlName="documents"
                                      style="border-color: green;" type="text" class="form-control form-control-sm" />
                                  </div>
                                  <div class=" col-6 mb-3">
                                    <label class=" form-control-label" for="copy_type">Copy Type</label>
                                    <input readonly name="copy_type" formControlName="copy_type"
                                      style="border-color: green;" type="text" class="form-control form-control-sm" />
                                  </div>

                                <!-- <div class=" col-6 mb-3">
                                  <label class=" form-control-label" for="pdc_type"> List Document</label>
                                  <select class="form-control form-control" style="border-color: green;"
                                    formControlName="document_Id" data-toggle="select">
                                    <option value="0"> Select Document</option>
                                    <option *ngFor="let _doc of documentsL" [value]="_doc.id">
                                      {{_doc.documents}}
                                    </option>
                                  </select>
                                </div> -->
<!-- 
                                <div class=" col-6 mb-3">
                                  <label class=" form-control-label" for="document_type">Copy Type</label>
                                  <select class=" form-control form-control" style="border-color: green;" type="text"
                                    formControlName="copy_type" data-toggle="select">
                                    <option value=0>Select Copy Type</option>
                                    <option value="Original Copy">Original Copy</option>
                                    <option value="Photo Copy">Photo Copy</option>
                                  </select>
                                </div> -->

                              </div>
                              <div class="row">  
                                <div class=" col-md-6 ">
                                  <label class=" form-control-label" for="document_type">Query Status</label>
                                  <select class="form-control form-control-sm" style="border-color: green;" type="text"
                                    formControlName="query_status" data-toggle="select">
                                    <option value=0>Select Query Status</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                  </select>
                                </div>

                                <div class=" col-md-6 ">
                                  <label class=" form-control-label" for="document_type">Highlight To Branch</label>
                                  <select class="form-control form-control-sm" style="border-color: green;" type="text"
                                    formControlName="highlight_to_branch" data-toggle="select">
                                    <option value=0>Select Highlight To Branch</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                  </select>
                                </div>


                              </div>

                              <div class="row">
                                <div class=" col-md-12 ">
                                  <label class=" form-control-label" for="apac_effective_date">CPU Query Remark</label>
                                  <input readonly name="cpu_query_remark" formControlName="cpu_query_remark"
                                    style="border-color: green;" type="text" class="form-control form-control-sm" />
                                </div>
                              </div>
                           
                              <div class="row">
                                <div class=" col-md-12 ">
                                  <label class=" form-control-label" for="soft_copy_remark">Soft Copy Remark</label>
                                  <input readonly name="soft_copy_remark" formControlName="soft_copy_remark"
                                    style="border-color: green;" type="text" class="form-control form-control-sm" />
                                </div>
                              </div>
                              <div class="row">
                                <div class=" col-md-12 ">
                                  <label class=" form-control-label" for="physical_copy_remark">Physical Copy Remark</label>
                                  <input readonly name="physical_copy_remark" formControlName="physical_copy_remark"
                                    style="border-color: green;" type="text" class="form-control form-control-sm" />
                                </div>
                              </div>

                              <div class="row">
                                <div class=" col-md-12 ">
                                  <label class=" form-control-label" for="remark">Remark</label>
                                  <input name="remark" formControlName="remark"
                                    style="border-color: green;" type="text" class="form-control form-control-sm" />
                                </div>
                              </div>
                              
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
                              <!-- <div class="resetsave">
                                <div class="resetsavebts"> -->

                                  <button class='btn btn-success' (click)="onSubmit()">
                                    Save
                                  </button>
                                  <button class='btn btn-warning' (click)="hidepopup()">
                                    Close</button>
                                <!-- </div>
                              </div> -->
                            
                        </div>

                      </div>
                    </div>
                  </div>


                </div>
              </div>


            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>